# Large files to ignore (prevents GitHub push errors)
model/crop_disease_model.pth
*.pth


# Python/FastAPI environment files
__pycache__/
*.pyc
.env
smartagro_venv/
venv/
.venv/

# IDE files
.vscode/
.idea/

model_details&Creation/
*.png